[submodule "Cores/DeltaCore"]
	path = Cores/DeltaCore
	url = https://github.com/rileytestut/DeltaCore.git
[submodule "Cores/GBADeltaCore"]
	path = Cores/GBADeltaCore
	url = https://github.com/rileytestut/GBADeltaCore.git
